<div class="m-1">
  <div>
    <h1 class="text-2xl font-bold">Text Adventure Game Builder</h1>
    <textarea
      [(ngModel)]="json"
      class="min-w-[30rem] min-h-[12rem] border border-gray-700 rounded-sm"
      placeholder="Paste JSON here or leave blank"></textarea>
    <br />
    <button *ngIf="!!json" (click)="parse()" class="bg-sky-700 hover:bg-sky-800 text-white font-bold rounded-md px-2 py-1 mx-1 my-1">
      Parse Json
    </button>
    <button (click)="export()" class="bg-orange-700 hover:bg-orange-800 text-white font-bold rounded-md px-2 py-1 mx-1 my-1">Export Json</button>
  </div>
  <div class="my-2 border border-gray-700 rounded-md p-1">
    <h2 class="text-xl font-bold">Steps</h2>
    <button class="bg-green-700 hover:bg-green-800 text-white font-bold rounded-md px-2 py-1 mx-1 my-1">Add Step</button>
    <br />
    <div>
      <app-adventure-step *ngFor="let step of gameModel?.steps" [step]="step" class="inline-block align-top"></app-adventure-step>
    </div>
  </div>

  <div class="my-2 border border-gray-700 rounded-md p-1">
    <h2 class="text-xl font-bold">Items</h2>
    <button class="bg-green-700 hover:bg-green-800 text-white font-bold rounded-md px-2 py-1 mx-1 my-1">Add Item</button>
    <br />
    <app-adventure-item *ngFor="let item of gameModel?.items" [item]="item" class="inline-block align-top"></app-adventure-item>
  </div>
</div>
